ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .custom-container {
    max-width: 400px; 
    padding: 20px;
    text-align: center;
  }

  ion-title .custom-title {
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 0.5rem; 

    ion-title .custom-subtitle {
      font-size: 1.2rem; 
      color: #ddd5d5; 
    }
}





  }
  
  